<!DOCTYPE html>
<!-- This is base html file which contains the code or design that is repeatedly being used in different files. -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Inheritance</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container"> 
            <ul class="navbar-nav mr-auto">
                <li><a class="navbar-brand" href="{% url 'index' %}">BRAND</a></li>
                <li><a class="nav-link" href="{% url 'admin:index' %}">ADMIN</a></li>
                <li><a class="nav-link" href="{% url 'basic_app:other' }">Other</a></li>
            </ul>
        </div>    
    </nav>

    <div class="container">
        <!-- This is the container in which u will do further coding, u will get this container on the page in which u will import this. 
        So right now I want everything on this page to be displayed across every single page in which i will import this.-->
        
        {% block body_block%}
        <!-- Anything outside of this block will be inherited if you extend -->
        {% endblock %}
    </div>

</body>
</html>